:root {
    --text-primary: #121C51;
    --text-secondary: #FF71A4;
    --third: #E0E9FE;
    --bg-primary: #FFFFFF;
    --bg-secondary: #F8FAFF;
}

body {
    color: var(--text-primary);
    background-color: var(--bg-secondary);
    font-family: 'Poppins',
    sans-serif;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: .25rem;
}

body::-webkit-scrollbar-track {
    background: var(--text-primary);
}

body::-webkit-scrollbar-thumb {
    background: var(--text-secondary);
}

main {
    margin-left: 5rem;
}