.login-form {
    height: fit-content;
    width: 500px;
    padding: 0 35px;
    background-color: white;
    border: none;
}

.btn-daftar {
    height: 35px;
    border-radius: 20px;
    font-weight: 700;
    background-color: #121C51;
}

.btn-gmail {
    height: 35px;
    background-color: #121C51;
    border-radius: 20px;
    font-weight: 700;
}

.btn-facebook {
    height: 35px;
    background-color: #121C51;
    border-radius: 20px;
    font-weight: 700;
}

.img-google {
    height: 20px;
    width: 20px;
}

.img-facebook {
    height: 20px;
    width: 20px;
}

.img-twitter {
    height: 20px;
    width: 20px;
}

input[type="NIK"],
input[type="tempat"],
select[type="jenis"],
input[type="pekerjaan"],
input[type="username"],
input[type="email"],
input[type="nama"],
input[type="tanggal"],
input[type="no"],
select[type="penyandang"],
input[type="password"],
input[type="confirm"] {
    border-radius: 10px;
    border: 2px solid rgb(228, 224, 224);
}